---
import ReturnButton from "@components/Common/ReturnButton.astro";
import Container from "@components/Common/Container.astro";
import { formatDate } from "@constants/constants";
import Tags from "@components/blog/Tags.astro";
import Layout from "@layouts/Layout.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<Layout>
  <Container>
    <article class="py-6 lg:py-10">
      <ReturnButton />
      <h1 class="text-4xl font-bold mb-2 text-primary">{entry.data.title}</h1>
      <h3 class="text-lg mb-2">
        Written by <span class="font-bold text-secondary">
          {entry.data.author}
        </span> on <span class="text-sm text-secondary italic">
          {formatDate(entry.data.pubDate)}</span
        >
      </h3>
      <Tags tags={entry.data.tags} />
      <Image
        src={entry.data.image}
        alt="Article Image"
        class="w-full h-auto rounded-xl my-6"
      />
      <Content />
    </article>
  </Container>
</Layout>

<style is:global>
  p {
    margin: 8px;
    font-size: 18px;
  }

  h2 {
    margin: 24px 0;
    font-size: 30px;
    font-weight: bold;
  }
</style>
